# Gradle / Android
.gradle/
build/
**/build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Android Studio / IntelliJ
.idea/
*.iml

# Kotlin / Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db
